.page-wrapper {
  animation: zoomOutPage 3s forwards;
  transform-origin: top;
}

.wrapper {
  animation: fadeIn 3s forwards;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 9001;
  background: black;
}

.time-ago-wrapper {
  top: 0;
  display: none;
}

.time-ago-wrapper.in {
  display: block;
  animation: fadeIn 3s forwards;
  animation-delay: 2s;
  opacity: 0;
}

.time-ago-wrapper.out {
  animation: fadeOut 3s forwards;
  opacity: 1;
}

.time-ago {
  font-size: 8vw;
  color: rgb(75, 213, 238);
  width: 90vw;
  margin: auto;
  position: relative;
  top: 25vh;
}

.main-logo-wrapper {
  top: 0;
  display: none;

}

.main-logo-wrapper.in {
  display: block;
  animation: zoomOutLogo 10s forwards, fadeOut 5s forwards 5s;
  height: 100vh;
}

.main-logo {
  height: 100vh;
}

.cls-1.cls-1 {
  fill: rgb(229, 177, 58);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOutPage {
  from {
    transform: perspective(100px) translateZ(0px);
  }

  to {
    transform: perspective(100px) translateZ(-100px);
  }
}


@keyframes zoomOutLogo {
  from {
    transform: perspective(100px) translateZ(200px);
  }

  to {
    transform: perspective(100px) translateZ(-2000px);
  }
}

