.page-wrapper {
  animation: zoomOut 3s forwards;
  transform-origin: top;
}

.wrapper {
  animation: fadeIn 3s forwards;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 9001;
  background: black;
}

.time-ago-wrapper {
  animation: fadeIn 3s forwards;
  animation-delay: 2s;
  opacity: 0;
}

.time-ago {
  font-size: 8vw;
  color: rgb(75, 213, 238);
  width: 90vw;
  margin: auto;
  position: relative;
  top: 25vh;
}

.svg-wrapper {
  display: none;
}

.cls-1.cls-1 {
  fill: rgb(229, 177, 58);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: perspective(100px) translateZ(0px);
  }

  to {
    transform: perspective(100px) translateZ(-100px);
  }
}
