.page-wrapper {
  animation: zoomOutPage 3s forwards;
  transform-origin: top;
}

.wrapper {
  animation: fadeIn 3s forwards;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 9001;
  background: black;
}

.time-ago-wrapper {
  top: 0;
  display: none;
}

.time-ago-wrapper.in {
  display: block;
  animation: fadeIn 3s forwards;
  animation-delay: 2s;
  opacity: 0;
}

.time-ago-wrapper.out {
  animation: fadeOut 1s forwards;
  opacity: 1;
}

.time-ago {
  font-size: 5vw;
  color: rgb(75, 213, 238);
  width: 65vw;
  margin: auto;
  position: relative;
  top: 25vh;
}

.main-logo-wrapper {
  top: 0;
  display: none;
}

.main-logo-wrapper.in {
  display: block;
  animation: zoomOutLogo 10s forwards, fadeOut 5s forwards 5s;
  height: 100vh;
}

.main-logo {
  height: 100vh;
}

.crawl-wrapper
{
  display: none;
  position: absolute;
  width: 100vw;
  height: 1000vh;
  bottom: 0;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(40vh) rotateX(25deg);
}

.crawl-wrapper.in {
  display: block;
}

.crawl-wrapper:after
{
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

.crawl-wrapper.in .crawl {
  animation: scroll 100s linear forwards, fadeOut 5s forwards 95s;
}

.crawl .nyh_share,
.crawl .nyh_article__footer,
.crawl > div > div > div,
.crawl section {
  display: none;
}

.crawl {
  /*transform: translateY(-34%);*/
}

.crawl .nyh_article__heading,
.crawl .nyh_article__lead,
.crawl .nyh_article-body p,
.crawl .nyh_article-body h4,
.crawl .nyh_article-body a {
   color: rgb(229, 177, 58);
   font-size: 7vw;
   font-weight: bold;
   text-decoration: none;
}

.crawl .nyh_article__heading {
  text-align-last: justify;
  text-transform: uppercase;
  font-size: 9vw;
  margin-bottom: 9vw;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOutPage {
  from {
    transform: perspective(100px) translateZ(0px);
  }

  to {
    transform: perspective(100px) translateZ(-100px);
  }
}


@keyframes zoomOutLogo {
  from {
    transform: perspective(100px) translateZ(200px);
  }

  to {
    transform: perspective(100px) translateZ(-2000px);
  }
}

